
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 20px;
    width: 350px;
}
#display{
    font-family: 'Orbitron', sans-serif;
    background-color: lightgray;
    height: 50px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    text-align: end;
    font-size: 40px;
}
#lastRow{ 
    align-self: flex-end;
    margin-right: 30px;
    
}
button{
    margin: 10px;
    border: 0px;
    border-radius: 50%;
    background-color: orange;
    height: 50px;
    width: 50px;
    font-weight: 600;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
    cursor: pointer;
    transition: transform 0.2s ease;
}
button:active{
    transform: scale(0.96);
  }

